ul {
  list-style-type: none;
  padding-left: 0;
  max-width: 660px;
  margin-top: 8px;
}

.add {
  background-color: green;
  color: white;
  padding: 4px;
  display: inline-block;
}

input {
  margin-left: 4px;
  margin-right: 4px;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}
